-r ./requirements.txt
-r ./requirements_rtfd.txt

cython
codacy-coverage
cryptography
flake8
ipykernel
jupyter_client
nbconvert
nbformat
obspy
pydocstyle
pytest-cov
pytest-flake8
pytest-runner
pytest>=4.6
watchdog
wheel
yapf
